<div class="share-page">
  Please share:
  <a class="button"
    href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
    rel="nofollow" target="_blank" title="Share on Twitter">
    {% include social-icon.html icon="Twitter" %}</span>
    Twitter
  </a>

  <a class="button" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"
    title="Share on Facebook">
    {% include social-icon.html icon="Facebook2" %}</span>
    Facebook
  </a>

</div>