<div class="share-page">
  <span>Please share:</span>

  <!-- <a class="button" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Facebook">
    {% include social-icon.html icon="Facebook2" %}
    Facebook
  </a> -->

  <a class="button"
    href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Twitter">
    {% include social-icon.html icon="Twitter" %}
    Twitter
  </a>

  <a class="button"
    href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}"
    onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
    title="Share on Reddit">
    {% include social-icon.html icon="Reddit" %} Reddit
  </a>

</div>