/**
 * Syntax highlighting styles
 */
.highlight {
  background: #333;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #333;
  }

  .c {
    color: rgb(218, 218, 175);
    font-style: italic;
  } // Comment
  .err {
    color: #e60f0f;
    background-color: #333;
  } // Error
  .k {
    font-weight: bold;
  } // Keyword
  .o {
    font-weight: bold;
  } // Operator
  .cm {
    color: #998;
    font-style: italic;
  } // Comment.Multiline
  .cp {
    color: #999;
    font-weight: bold;
  } // Comment.Preproc
  .c1 {
    color: #998;
    font-style: italic;
  } // Comment.Single
  .cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
  } // Comment.Special
  .gd {
    color: #eee;
    background-color: #333;
  } // Generic.Deleted
  .gd .x {
    color: #eee;
    background-color: #633;
  } // Generic.Deleted.Specific
  .ge {
    font-style: italic;
  } // Generic.Emph
  .gr {
    color: #faa;
  } // Generic.Error
  .gh {
    color: #eee;
  } // Generic.Heading
  .gi {
    color: #eee;
    background-color: #333;
  } // Generic.Inserted
  .gi .x {
    color: #afa;
    background-color: #333;
  } // Generic.Inserted.Specific
  .go {
    color: #aaa;
  } // Generic.Output
  .gp {
    color: #aaa;
  } // Generic.Prompt
  .gs {
    font-weight: bold;
  } // Generic.Strong
  .gu {
    color: #aaa;
  } // Generic.Subheading
  .gt {
    color: #aee;
  } // Generic.Traceback
  .kc {
    font-weight: bold;
  } // Keyword.Constant
  .kd {
    font-weight: bold;
  } // Keyword.Declaration
  .kp {
    font-weight: bold;
  } // Keyword.Pseudo
  .kr {
    font-weight: bold;
  } // Keyword.Reserved
  .kt {
    color: #eef;
    font-weight: bold;
  } // Keyword.Type
  .m {
    color: #aee;
  } // Literal.Number
  .s {
    color: #faa;
  } // Literal.String
  .na {
    color: #eff;
  } // Name.Attribute
  .nb {
    color: #a2dbee;
  } // Name.Builtin
  .nc {
    color: rgb(184, 202, 255);
    font-weight: bold;
  } // Name.Class
  .no {
    color: #93ffff;
  } // Name.Constant
  .ni {
    color: #ffdaff;
  } // Name.Entity
  .ne {
    color: rgb(255, 0, 0);
    font-weight: bold;
  } // Name.Exception
  .nf {
    color: rgb(255, 102, 102);
    font-weight: bold;
  } // Name.Function
  .nn {
    color: rgb(189, 181, 181);
  } // Name.Namespace
  .nt {
    color: #8484ff;
  } // Name.Tag
  .nv {
    color: #71ffff;
  } // Name.Variable
  .ow {
    font-weight: bold;
  } // Operator.Word
  .w {
    color: rgb(75, 74, 74);
  } // Text.Whitespace
  .mf {
    color: rgb(171, 250, 250);
  } // Literal.Number.Float
  .mh {
    color: rgb(212, 255, 255);
  } // Literal.Number.Hex
  .mi {
    color: rgb(201, 252, 252);
  } // Literal.Number.Integer
  .mo {
    color: rgb(188, 255, 255);
  } // Literal.Number.Oct
  .sb {
    color: rgb(255, 197, 212);
  } // Literal.String.Backtick
  .sc {
    color: rgb(255, 148, 175);
  } // Literal.String.Char
  .sd {
    color: rgb(255, 176, 196);
  } // Literal.String.Doc
  .s2 {
    color: rgb(255, 197, 212);
  } // Literal.String.Double
  .se {
    color: rgb(255, 190, 206);
  } // Literal.String.Escape
  .sh {
    color: rgb(255, 202, 215);
  } // Literal.String.Heredoc
  .si {
    color: rgb(255, 181, 199);
  } // Literal.String.Interpol
  .sx {
    color: rgb(255, 189, 205);
  } // Literal.String.Other
  .sr {
    color: #bcf7cb;
  } // Literal.String.Regex
  .s1 {
    color: rgb(255, 173, 193);
  } // Literal.String.Single
  .ss {
    color: #ffc8f1;
  } // Literal.String.Symbol
  .bp {
    color: #999;
  } // Name.Builtin.Pseudo
  .vc {
    color: #93ffff;
  } // Name.Variable.Class
  .vg {
    color: #9dffff;
  } // Name.Variable.Global
  .vi {
    color: #99ffff;
  } // Name.Variable.Instance
  .il {
    color: rgb(212, 255, 255);
  } // Literal.Number.Integer.Long
}
